body {
    font-family: Roboto, sans-serif;
    background-color: #712055e2;
    color: #cdb7b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    margin-top: 250px;
}

h1 {
    font-size: 3rem;
    color: #f4e116;
    margin-top: 10px;
    text-shadow: 2px 2px #141308;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #55c739;
    margin-top: 0.5rem;
}

button {
    background-color: #e7e7d9;
    color: #141308;
    border: none;
    padding: 20px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}